.no-scroll,
.no-scroll * {
    overflow: hidden !important;
}

#reader-mode {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background: white;
    border: none;

    overflow-y: scroll;
    z-index: 9999999999999;

    opacity: 1;
}